<ion-content [fullscreen]="true">

  <h3> Sistema de Pedidos </h3>
  <img src="assets/imgs/telaInicial.png" alt="logo app" />

  <form>
    <ion-item>
      <ion-label position="floating"> Email</ion-label>
      <ion-input type="text" [(ngModel)]="creds.email" name="email" clear-input=true> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Senha </ion-label>
      <ion-input type="password" [(ngModel)]="creds.senha" name="senha" clear-input=true> </ion-input>
    </ion-item>

    <ion-button expand="block" (click)="login()"> Entrar </ion-button>
  </form>

  <ion-button expand="block" fill="outline" (click)="signup()"> Registrar </ion-button>

</ion-content>
